*.docx
*.pdf
*.xlsx
*.xlx
*.txt
*.mp4
*.webm
*.pptx
*.ppsx
*.ppt
*.odp
*.zip

intranet/system/controllers/ranking_*/
intranet/system/controllers/material_adicional/
intranet/system/controllers/uploads/
intranet/system/lib/dompdf/dompdf/
intranet/system/lib/picker/vendor/picqer/php-barcode-generator/
